@font-face {
    font-family: "PoliticsHead";
    src: url("../fonts/PoliticsHeadv1_9.otf") format("opentype");
}

.slide-background.frontface {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/frontface.jpg");
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 110px);
}

.frontface h1 {
    font-family: "PoliticsHead", "Bitstream Vera Sans Bold", "Verdana Bold";
    font-size: 1.5em;
}

.frontface h1 .main,
.frontface h1 .sub {
    display: inline-block;
    color: #e3e8e8;
    border: 1px solid #e3e8e8;
    padding: 0.125em 0.25em;
}

.frontface h1 .main {
    background: #000;
    transform: rotate(2deg);
}

.frontface h1 .sub {
    background: #f80;
    transform: rotate(-4deg);
}

.omnibar-spoof img {
    display: inline-block;
    max-height: 500px;
    width: auto;
}

.omnibar-spoof img:hover {
    max-height: 100%;
}

.reveal .logo,
.reveal .license {
    display: block;
    min-height: 110px;
    position: absolute;
    top: 0;
    margin: 0;
    /*  20px = padding of section  */
    /* 400px = height/2 of .slides */
    /* 100%  = height of element   */
    transform: translate(0%, calc(400px + 100% + 20px));
}

.reveal .logo {
    left: 0;
    border: 0;
    box-shadow: none;
    max-height: 110px;
    width: auto;
}

.reveal .license {
    right: 120px;;
    font-size: 0.4444em;
}

.reveal .license p {
    margin: 0.5em 0;
}

.reveal .label-with-notes {
    position: absolute;
    top: -250px;
    right: 0;
    font-size: 0.6667em;
}

.notes-hidden .note {
    display: none;
}

.note {
    color: #333;
}

.reveal .note p {
    margin: 0.125em 0;
}
